# IDE folders
.idea
.vs

# CMake
cmake-*
/CMakeFiles/
/CMakeCache.txt
CMakeLists.txt.user

# Conan files
conan.lock
conanbuildinfo.txt
conaninfo.txt
conanbuildinfo.cmake
graph_info.json

# Testing sandbox
sandbox

# Build directory
build
out

# ownCloud sync files
.owncloudsync.log
.sync_journal.*
Desktop.ini

# Doxygen files
Doxyfile
doxygen

# Google test build folders
googletest-*
/_deps/
