# IDE folders
.idea

# CMake build folders
cmake-*

# Conan files
conan.lock
conanbuildinfo.txt
conaninfo.txt
conanbuildinfo.cmake
graph_info.json

# Testing sandbox
sandbox

# Build directory
build

# ownCloud sync files
.owncloudsync.log
.sync_journal.db
.sync_journal.db-shm
.sync_journal.db-wal

# Doxygen files
Doxyfile
doxygen
